<div id="godiceroll-modifier" class="godiceroll-modifier" title="GoDice Modifier">
	<div class="godiceroll-rangenumber"><input type="range" id="rangenumber" min="-15" max="15" title="GoDiceRoll Modifier"></div>
	<span id="rangevalue" class="godiceroll-span">0</span>
	<div id="buttoncontainer" class="godiceroll-advdis">
	  	<button class="godiceroll-advdis-btn" id="advButton" value="Adv" data-value="kh">Adv</button>
		<button class="godiceroll-advdis-btn active" id="norButton" value="Nor" data-value="">Nor</button>
		<button class="godiceroll-advdis-btn" id="disButton" value="Dis" data-value="kl">Dis</button>
	</div>
</div>