:root{
	--batterylevel: 100%;
	--barcolor: green;
}

.diceTypes
{
	display:  flex;
	align-items: center;
	justify-content: center;
	margin: 2px;
	padding:  3px;
}

.battery-indicator
{
	width:  40px;
	text-align: center;
}

.die-status
{
	width: 100px;
	border: ridge;
}

.battery_low
{
	background-color: red;
}

.battery_medium
{
	background-color: orange;
}

.battery_high
{
	background-color: green;
}

.battery_bar
{
	margin: 0.1rem;
	height: 2px;
	width: var(--batterylevel);
}

.round-time-bar {
  margin: 0.5rem;
  overflow: hidden;
}
.round-time-bar div {
  height: 5px;
  animation: roundtime calc(var(--duration) * 1s) steps(var(--duration))
    forwards;
  transform-origin: left center;
  background: linear-gradient(to bottom, red, #900);
}

.round-time-bar[data-style="smooth"] div {
  animation: roundtime calc(var(--duration) * 1s) linear forwards;
}

.round-time-bar[data-style="fixed"] div {
  width: calc(var(--duration) * 5%);
}

.round-time-bar[data-color="blue"] div {
  background: linear-gradient(to bottom, #64b5f6, #1565c0);
}

@keyframes roundtime {
  to {
    transform: scaleX(0);
  }
}

.die-btn-active {
    background: url('/ui/denim.jpg');
    color: antiquewhite;
}

